.card
{
  background: white;
  border-radius: 20px;
  box-shadow: 0 19px 38px #00000021;
  opacity: 85%;
  position:relative;
  margin-top: 30px;
}

.mat-raised-button{
  background-color:	#41ff61be;
  color: rgb(87, 87, 87) !important;
}

.header
{
  color: #ffffff;
}
