 name: Hackathon

 on: 
  push:
    branches:
     - master
     - release/*
  schedule:
     - cron: 0 2 * * 1-5    

 jobs:
   build-and-deploy:
     runs-on: ubuntu-latest

     steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Use Node.js 10.x
       uses: actions/setup-node@v1
       with:
         node-version: 10.x

     - name: Prepare and deploy
       env:
         GH_TOKEN: ${{ secrets.GH_TOKEN }}
       run: |
         npm install
         npm run ng -- deploy --base-href=/Hackathon/ --name="dhananjayansb" --email=dhananjayansb@gmail.com
